/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Header and footer styles */
header,
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em 0;
}

/* Logo styles */
.logo {
  max-height: 100px;
}

/* Image section styles */
.img-section img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Section title styles */
.section-title {
  margin-top: 30px;
}

/* Navigation wrapper styles */
.navigate-wrapper {
  position: relative;
}

/* Navigation styles */
.navigation {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navigation.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition-delay: 0.5s ease-in-out;
}

.navigation.sticky.show {
  opacity: 1;
}

h3 {
  color: #07ad07;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}
.show-content {
  font-family: Roboto;
  font-size: 23px;
  letter-spacing: 5px;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 55px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40vh;
  }

  .navigation.sticky {
    padding: 10px 0;
  }

  .header h1 {
    font-size: 22px;
  }

  .header p {
    font-size: 14px;
  }

  .center h3 {
    font-size: 20px;
  }

   p {
    font-size: 13px;
  }

  .text-left ul {
    font-size: 14px;
  }

  .content-base {
    margin-left: 0;
    margin-right: 0;
  }
  .title {
    font-size: 40px;
  }
  .show-content li {
    font-size: 14px;
  }
}
