/* General Styles for Colors and Fonts (applies to all screen sizes) */
body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header,
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
}

/* Original Styles for Larger Screens */
header,
footer {
  padding: 1em 0;
}

.logo {
  max-height: 100px;
}

.img-section img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.section-title {
  margin-top: 30px;
  font-size: 1.5em;
}

.navigate-wrapper {
  position: relative;
}

.navigation {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.navigation.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

h3 {
  color: #07ad07;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}

.show-content {
  font-family: Roboto, sans-serif;
  font-size: 23px;
  letter-spacing: 5px;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 55px;
}

.images {
  width: 340px;
}

.icon-top-left {
    position: absolute;
    top: 30px;
    left: 340px;
    font-size: 24px;   /* Adjust the color */
}

/* Mobile-Specific Styles */
@media (max-width: 768px) {
  body {
    margin: 10px;
    padding: 10px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 15px !important;
    box-sizing: border-box;
    margin-bottom: 20vh !important;
  }

  .navigation.sticky {
    padding: 8px 0 !important;
  }

  header h1 {
    font-size: 20px !important;
  }

  header p {
    font-size: 12px !important;
  }

  .center h3 {
    font-size: 18px !important;
  }

  p {
    font-size: 12px !important;
  }

  .text-left ul {
    font-size: 12px !important;
  }

  .content-base {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .title {
    font-size: 30px !important;
  }

  .show-content li {
    font-size: 12px !important;
  }

  footer {
    padding: 10px 0 !important;
  }
}
